* {
    margin: 0;
    padding: 0;
}
.avatars {
    display: flex;
    gap: 30px;
}

.header-info {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    justify-content: center;
    gap: 5px;
}


.header {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
    align-items: flex-end;
}

.h2 {
    font-size: 24px;
}

.list {
    max-width: 800px;
    margin: 0 auto;
}


.aboutme {
    padding: 21px 0;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.table_hobbies_title,
.table_social_title {
    border-bottom: 1px solid green;
    text-align: center;
    color: green;
    padding: 5px 0;
    font-weight: bold;
}

.table_hobbies {
    border: 1px solid #008000;
    border-radius: 10px 0 0 10px;
}

.table_social {
    border:1px solid #008000;
    border-radius: 0 10px 10px 0;
}

.table_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.table_list_hobbies,
.table_social_list {
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.title {
    display: flex;
    justify-content: center;
    background-color: #5A9645;
    color: aliceblue;
    margin-top: 67px;
    border-radius: 5px 5px; 
    padding: 5px
}

.tech {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.tech_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px    

}

.tech_item>img {
    width: 50px;
    height: 50px;
}

.tech_item>a {
    width: 50px;
    height: 50px;
    color: black;
    text-decoration: none;
}

.tech_item>p {
    margin-top: 20px;
}

.tech_item:hover {
  box-shadow: 0 4px 20px 0 #5a9645;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.request {
    color: white;
    background-color: #5A9645;
    display: grid;
    text-align: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 5px;
    font-size: 21px;
    
}

.grid_container_item_name,
.grid_container_item_tel {
    padding: 10px 14px;
    font-size: 21;
}

.grid_container_item {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 21;
    
}
