* {
    margin: 0;
    padding: 0;
}
.avatars {
    display: flex;
    gap: 30px;
}

.header-info {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    justify-content: center;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    justify-content: center;
    gap: 5px;
}


.header {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
    align-items: flex-end;
}

.h2 {
    font-size: 24px;
}

.list {
    max-width: 800px;
    margin: 0 auto;
}


.aboutme {
    padding: 21px 0;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.table_hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #008000;
}

.table_social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #008000;
}

.table_hobbies_item {
    
}